.DS_Store

node_modules
.env
coverage
coverage.json

#Hardhat files
artifacts
cache
typechain
typechain-types
node_modules
cache

deployments/localhost
ignition/deployments/chain-31337
ignition/deployments/chain-11155111
*.local
