ETH_NODE_URI_MUMBAI=https://matic-mumbai.chainstacklabs.com
KEYS_MUMBAI=

DEPLOY_DATA_INITIAL_SUPPLY=100000000

DEPLOY_DATA_NAME=DenarioCoin
DEPLOY_DATA_SYMBOL=DC
DEPLOY_DATA_DECIMALS=18
DEPLOY_DATA_FEE_RATE=1
DEPLOY_DATA_FEE_GRACE_PERIOD=36000